<%- include("partials/header"); -%>
    
<div class="about-box" name="aboutContent">
<div class="about-content">
        <div class="about-img">
            <img src="https://media.licdn.com/dms/image/C4D03AQHhJTRxNlBOLg/profile-displayphoto-shrink_800_800/0/1655419654421?e=1691020800&v=beta&t=KKqEyR8aixLKtjjX9-19Pp-mR73H7XYI4ewauss2qiY" alt="my-photo">
        </div>
        <div class="about-text">
            <h1> Merhaba</h1>
            <p>Ben Furkan Akıncı. Şu an Muğla Sıtkı Koçman Üniversitesi Bilgisayar Mühendisliği 1. sınıf Öğrencisiyim.
               Web geliştirme ve 3D modelleme ile ilgileniyorum. Bu siteyi hem kendime ait bir blog olarak kullanmak hem
                de çalışmalarımı sergilemek için yaptım. Bana linkedin e-posta üzerinden ulaşabilirsiniz
            </p> 
        </div> 
    </div>
</div>
<%- include("partials/footer"); -%>