<%- include("partials/header"); -%>

<main class="contact-page">
    <form class="contact-form" action="mailto:furkanaknc55@gmail.com" method="POST">
      <h2>Clik the button for send me an e-mail</h2>
      <div class="form-group">
        <button type="submit" class="btn btn-success rounded-pill">Send Me A Mail</button>
      </div>
    </form>
  </main>
  

<%- include("partials/footer"); -%>
